html, body{
    margin: 0;
    padding: 0;
}
body{
    font: 76% arial, sans-serif;
    text-align: center;
}
#topo{
    background-color: #f3f2ed;
    width: 750px;
    margin: 0 auto;
}
#topo h1{
    height: 80px;
    line-height: 80px;
    margin: 0;
    padding-left: 10px;
}
#topo p{      
    margin: 0;
    padding: 5px 10px;
}
#rodape{
    background: #bfbd93;
    clear: both;
    width: 750px;
    margin: 0 auto;   
}
#rodape p{
    margin: 0;
    padding: 5px 10px;
}
#menuLateral{
    margin-top: 1px;
    margin-bottom: 1px;
    background: #f3f2ed;
    float: left;
    width: 250px;
}
#menuLateral li{
    margin-bottom: 5px;
}
#menuLateral ul{
    margin: 15px 0;
    padding: 0;
    list-style-type: none;
}
a{
    padding: 5px;
    text-decoration: none;
    color: #000000;
}
a:hover{
    color: #bfbd93;
}
#pagina{
    text-align: left;
    width: 750px;
    margin: 0 auto;
}
#conteudo{
    float: right;
    width: 500px; 
}
#conteudo p, h1{
    line-height: 1.4; 
    margin: 0 10px 10px
}
#extra{
    float: right; 
    width: 500px;
    background: #ccc8b3;
    text-align: center;
}
.tabela{
    margin: 0px;
    padding: 0px;
    width: 100%;
    border:1px solid;
}
.tabela table{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;   
}
.tabela tr:nth-child(odd){
    background-color:#f3f2ed; 
}
.tabela tr:nth-child(even){    
}
.tabela td{
    vertical-align: middle;
    border: 1px solid;
    border-width: 1px 1px 1px 1px;
    text-align: center;
    padding: 7px;
    font-size: 12px;
    font-family: Arial;    
}
.tabela tr:last-child td{
    border-width: 1px 1px 1px 1px;
}
.tabela tr td:last-child{
    border-width: 1px 1px 1px 1px;
}
.tabela tr:last-child td:last-child{
    border-width: 1px 1px 1px 1px;
}
.tabela .cabecalho{
    background-color:#bfbd93;
    border:0px solid;
    text-align:center;
    border-width:1px 1px 1px 1px;
    font-size:14px;
    font-family:Arial;
    font-weight:bold;
}
